body {
  background: url(images/marketplace1-min.png) no-repeat bottom left fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  color: white;
  text-align: center;
  }

a {
  text-decoration: none;
  color: white;
}

hr {
  border: 3px solid #5ea995;
  width: 50px;
}

.logo {
  width: 120px;
}
 
.main {
  background: url(images/green_background.png) left center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  display: inline-block;
}

.title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 58px;
  color: white;
  text-transform: uppercase;
}

.description {
  font-style: italic;
}

.logo-mobile {
  background-color: rgb(255,255,255, 0.8);
  padding: 10px;
  position: absolute;
  border-radius: 5px;
  top: 0%;
  left: 0%;
  width: 30px;
  margin: 25px;
  z-index: 100;

}

.madewithlove {
  font-size: 12px;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

button {
  background-color: transparent;
  color: white;
  padding: 15px 30px;
  border: 1px solid white;
  border-radius: 2px;
  font-size: 12px;
  letter-spacing: 2px;
  transition-duration: 0.5s;
  text-transform: uppercase;
}

button:hover {
  background-color: #5ea995;
  border: 2px solid #5ea995;
}

@media only screen and (max-width: 850px) {

  .logo-mobile {
    display: none;
  }
    .main {
      width: 60%;
      padding: 100px 15px;
    }

    .title {
      font-size: 46px;
      letter-spacing: 2px;
    }

    .description {
      font-size: 16px;
    }

    button {
      padding: 10px 24px;
    }

    @media only screen
    and (orientation:landscape)
     {
      .main {
        padding: 40px 20px;
      }
      .logo {
        width: 80px;
      }
      .description {
        font-size: 12px;
      }
      .title {
        font-size: 32px;
        margin: 20px;
      }
      button {
        font-size: 8px;
        padding: 10px 15px;
      }
      .madewithlove {
        font-size: 8px;
      }
    }


    @media only screen and (max-width: 350px) {

      .main {
        padding: 70px 20px;
      }

      .description {
        font-size: 14px;
      }
 
  }
}
